.blog-post-card {
  border-radius: 10px;
text-align: center;
background-color: white;
width: 500px;
  margin-left: 35%;
margin-right: 50%;
}

.post-img {
width: 500px;
border-bottom: 5px solid brown;
}

body {
  background-color: rgb(173, 19, 19)
}

.post-content {
  padding: 10px;
}

.post-excerpt {
  color: rgb(68, 2, 2);
  font-family: arial;
}

.post-title {
  font-family: arial;
  color: rgb(68, 2, 2);
}

.read-more {
  margin: 10px;
  background-color: rosybrown;
border-radius: 10px;
padding: 10px;
  display: inline-block;
  font-family: arial;
  background:
}

.read-more:hover {
    background-color: red;

}
